* {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: Arial, sans-serif;
  
}

:root{
   --whiteBG :#fff;
   --greenBG : #00AF7E;
   --flex: flex;
   --shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
   --border: #D0D0D0;
}
.sidebar{
    position: relative;
    flex-shrink: 0;
    width: 230px;
    max-width: 500px;
    background-color: var(--greenBG);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px 0;
    overflow: auto;
  }
  
  .sidebar > .company-logo,.btn-container{
     margin-bottom: 20px;
  }
  
  .sidebar .company-logo{
     padding: 20px;
  
  }
  
  
  .btn-container{
     display: var(--flex);
     flex-direction: column;
     width: 100%;
     
  }
  
  
  .btn-container button{
     margin-bottom: 8px;
     text-align: left;
     padding: 10px;
     font-size: 15px;
     color: var(--whiteBG);
     cursor: pointer;
     border-radius: 6px;
     border: none;
     transition: background 0.3s;
     background-color: transparent;
  }
  
  .btn-container button:hover {
     background-color: var(--whiteBG);
     color: #31B58F;
  
  }