* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
   
 }
 
 :root{
    --whiteBG :#fff;
    --greenBG : #00AF7E;
    --flex: flex;
    --shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    --border: #D0D0D0;
 }
 
 /*Ensure that the parent containers properly manage their children elements to avoid unintended overlaps.*/
 
 body{
   display: flex;
   flex-direction: row; /* Ensures sidebar and content align side by side */
   height: 100vh;
   margin: 0;
   background-color: #F2F2F2;
 }
 
 span{
   cursor: default;
 }

 /*Ensure the sidebar doesn’t overlap the main content on smaller screens. */

 .sidebar {
   position: fixed; /* Ensures it stays in place */
   top: 10px;
   left: 10px;
   bottom: 10px;
   width: 230px; /* Expanded width to show text */
   background-color: #062335;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px 10px; /* Inner padding for spacing */
   border-radius: 10px;
   color: white;
   overflow: hidden;
   transition: width 0.3s ease; /* Smooth transition */
   z-index: 100; /* Ensures it's above other content */
}
 

 
.btn-container {
   display: flex;
   flex-direction: column;
   width: 100%; /* Full width in expanded mode */
   margin-top: 10px;
}
 
 
 .btn-container button{
   display: flex;
   align-items: center;
    margin-bottom: 8px;
    margin-bottom: 8px;
    text-align: left;
   margin-bottom: 8px;
    text-align: left;
   padding: 10px;
   font-size: 17px;
   color: var(--whiteBG);
   cursor: pointer;
   border-radius: 6px;
   background-color: transparent;
   white-space: nowrap; /* Prevents text wrapping */
   overflow: hidden; /* Hides text in collapsed mode */
   text-overflow: ellipsis;
   transition: background-color 0.15s, color 0.15s;
   border: none;
 }
 
 .btn-container .btn-tabs i {
   margin-right: 10px;
   min-width: 30px; /* Fixed width for consistent icon alignment */
   text-align: center;
}


.sidebar:hover .btn-tabs {
   overflow: visible; /* Shows text content when expanded */
}

.btn-container .btn-tabs:hover {
   background-color: var(--whiteBG);
   color: var(--greenBG);
}

/* Company Logo */
.sidebar .company-logo img {
   max-width: 100%; /* Icon size in collapsed mode */
   height: auto;
   transition: max-width 0.3s ease; /* Smooth transition for logo */
   background-color:#f7f7f7 ;
   border-radius: 7px;

}



  /*Ensure that the parent containers properly manage their children elements to avoid unintended overlaps.*/
 
 .content{
   flex: 1;
   min-width: 0;
   padding: 30px 20px;
   margin-left: 80px; /* Adjust based on the sidebar's width */
   overflow-y: auto;
   margin-left: 240px; /* Match the expanded sidebar width */
 }
 
 header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--whiteBG);
   padding: 20px;
   border-radius: 10px;
   box-shadow: var(--shadow);
   margin-bottom: 20px;
 
 }
 
 
 .buttons button{
    margin-right: 20px;
    padding: 8px;
    width: 80px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-shadow: var(--shadow);
 }
 
 .overall-data{
    margin-top: 20px;
    background-color: var(--whiteBG);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 130px;
    box-shadow: var(--shadow) ;
    border-radius: 8px;
 }
 
 .overall-data div p{
    font-size: 23px;
 }
 
 .overall-data div h1{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
 
 }
 

  
 /*Fix .transaction-history CSS:*/

 .transaction-history {
   margin-top: 20px;
   background-color: var(--whiteBG);
   padding: 20px;
   max-height: calc(100vh - 250px); /* Dynamically adjust height */
   overflow-y: auto;
   box-shadow: var(--shadow);
   border-radius: 8px;
   width: 90%; 
   margin: auto;

}

 
 .transaction-history .home-header{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px 20px; /* Adds spacing between columns */
    text-align: center;
    padding: 10px;
 }
 
 .home-data-container .home-data{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px 20px; /* Adds spacing between columns */
    text-align: center;
    border: 1px rgb(227, 227, 227) solid;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 3px;
    
 }
 
 /*tablinks*/
 
 
 /*Ensure the sections (#home, #manage-users, etc.) do not overlap when switching tabs.*/
 .tab-content {
   display: none;
   flex-direction: column;
   gap: 20px; /* Add spacing between children */
}

.tab-content.active {
   display: flex;
}
 
 /*manage user*/

 /*Updated CSS for Manage Users Section:*/
 .manage-users-content{
   margin: 20px auto;
   background-color: var(--whiteBG);
   box-shadow: var(--shadow);
   border-radius: 8px;
   min-height: 420px;
   width: 90%; /* Adjusted for better responsiveness */
   overflow: hidden; /* Prevents overflow */
   display: flex;
   flex-direction: column; /* Ensures proper stacking */
 
 }
 
 .manage-users-content .accounts{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   border-bottom: 1px solid var(--border);
   gap: 10px; /* Adds space between items */
   flex-wrap: wrap; /* Prevents items from overlapping on smaller screens */

 }

 .accounts .account-request-create-section{
 display: flex;
    align-items: center;
    gap: 15px; /* Space between sections */
    flex-wrap: wrap; /* Ensures wrapping on smaller screens */
}

 .accounts .active-account{
    align-items: center;
    display: var(--flex);
    cursor: pointer;
    padding: 5px 20px;
    
 }

 .create-account{
   margin-left: auto; /* Align to the right */
   min-width: 130px;
 }

 .search{
   background-color: white;
   height: 30px;
   display: var(--flex);
   align-items: center;
   padding: 0px 10px;
   justify-content: space-between;
   border: 1px solid var(--greenBG);
   border-radius: 8px;

 }

 .search  input{
   padding: 0px 10px;
   height: 100%;
   width: 150px;
   background-color: transparent;
   border: none;
   outline: none;

 }
 
 .create-account button{
   width: 100%;
    height: 30px;
    cursor: pointer;
    background-color: var(--whiteBG);
    color: var(--greenBG);
    border: 1px solid var(--greenBG);
    border-radius: 4px;
 }



   /*manage user
   
    .manage-user-data-container .manage-user-data{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px 20px; 
    text-align: center;
    border-bottom: 1px var(--border) solid;
    border-top: 1px var(--border) solid;
    padding: 10px;
    background-color: #ffffff;
    font-size: 14px;
    
 }
     
   */


.account-table, th, td {
    border-collapse: collapse;
    border: 1px solid rgb(144, 144, 144);
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    padding: 10px;
    border-left:none ;
    border-right:none ;
    border-color: var(--border) ;
}

.account-table {
    border: none;
    width: 100%;
    height: 0px;
}

.account-table thead tr th{
   padding: 8px;
   border:none;
   color: #7a7a7a;
   
}

tbody tr td{
   font-size: 15px;
}


.user-profile-and-name{
   display: var(--flex);
   align-items: center;
   justify-content: center;
   gap: 1rem;
   margin-right: 1.4rem;
}

.user-profile-and-name .user-logo{
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: black;
   
   
}

.user-profile-and-name .name-email{
   display: var(--flex);
   flex-direction: column;
   text-align: left;
   gap: 3px;

}

.name-email .name{
  font-size: 16px;

}

.name-email .email{
   font-size: 10px;
   color: rgb(152, 151, 151);
}

td button{
   width: 70px;
   max-width: 80px;
   height: 30px;
   cursor: pointer;
   border-radius: 10px;
   border: 1px solid var(--greenBG);
   color: var(--greenBG);
   background-color: var(--whiteBG);

}

td .edit{
   background-color: #07C900;
   transition: 0.3s ease;
}


td .edit:hover{

   background-color: #11790e;
}

td .delete{
   background-color: #D00000;
   transition: 0.3s ease;
}


td .delete:hover{
   background-color: #a40101;
}


.account-table {
   display: none;
}

.account-table.active {
   display: table;
}


.password{
   padding: 10px;
   border-radius: 4px;
   border: 1px solid var(--greenBG);
}

/*documents captured tab*/

.documents-captured-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
}


.documents-captured-table, th, td {
   border-collapse: collapse;
   border: 1px solid rgb(144, 144, 144);
   text-align: center;
   font-family: 'Nunito', sans-serif;
   font-size: 13px;
   padding: 10px;
   border-left:none ;
   border-right:none ;
   border-color: var(--border) ;
}

.documents-captured-table {
   border: none;
   width: 100%;
   height: 0px;
   margin-top: 15px;
}
.documents-captured-table thead tr th{
  padding: 8px;
  border:none;
  color: #7a7a7a;
  margin-top: 15px;
  
}

.table-data tr td{
  font-size: 13px;
}

td .data-employee-name{
   display: flex;
   flex-direction: column;
   
  
}

.password-reset-requests {
   align-self: center;
   margin-top: 20px;
   padding: 20px;
   background-color: var(--whiteBG);
   box-shadow: var(--shadow);
   border-radius: 8px;
}

.password-reset-requests h2 {
   margin-bottom: 20px;
   font-size: 20px;
   color: #333;
   text-align: center;
}

.password-reset-table {
   width: 100%;
   border-collapse: collapse;
   background-color: var(--whiteBG);
   box-shadow: var(--shadow);
   border-radius: 8px;
   overflow: hidden;
}

.password-reset-table th,
.password-reset-table td {
   padding: 12px 15px;
   text-align: center;
   border-bottom: 1px solid var(--border);
}

.password-reset-table th {
   background-color: #00AF7E;
   color: white;
   font-weight: bold;
   text-transform: uppercase;
   font-size: 14px;
}

.password-reset-table tr:nth-child(even) {
   background-color: #f9f9f9;
}

.password-reset-table tr:hover {
   background-color: #f1f1f1;
}

.password-reset-table .approve-btn {
   background-color: #31B58F;
   color: white;
   border: none;
   padding: 8px 15px;
   border-radius: 4px;
   cursor: pointer;
   transition: 0.3s;
}

.password-reset-table .approve-btn:hover {
   background-color: #279E7C;
}

.password-reset-table .delete-btn {
   background-color: #BB2727;
   color: white;
   border: none;
   padding: 8px 15px;
   border-radius: 4px;
   cursor: pointer;
   transition: 0.3s;
}

.password-reset-table .delete-btn:hover {
   background-color: #A02121;
}

.message {
   margin-top: 15px;
   padding: 10px;
   color: #4CAF50;
   background-color: #e8f5e9;
   border: 1px solid #c8e6c9;
   border-radius: 4px;
   text-align: center;
}



 /*capture documents css*/
 

 .scan-content {
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
   flex-wrap: wrap; /* Allow content to wrap on smaller screens */
}

/* Scan and Scanner options side by side */
.scan-options {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   padding: 10%;
   width: 200px; /* Adjust for better responsiveness */
}

.scan-btn {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 150px;
   height: 150px;
   background-color: white;
   border: 2px solid #ddd;
   border-radius: 10px;
   cursor: pointer;
   font-size: 18px;
}

.scan-btn:active{
   transform: scale(0.98);
}

.scan-btn i {
   font-size: 40px;
   color: #1ABC9C;
}

.scanner-dropdown select {
   padding: 10px;
   font-size: 16px;
   border: 1px solid #ddd;
   border-radius: 5px;
}

/* Receipt viewer */
.receipt-card {
   background-color: white;
   width: 100%; /* Full width for responsiveness */
   max-width: 600px;
   padding: 30px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid #ddd;
   min-height: 400px;
   margin: 20px 0;
}

.document-placeholder {
   text-align: center;
}

.document-placeholder i {
   font-size: 50px;
   color: #999;
}

.document-placeholder p {
   font-size: 18px;
   color: #999;
   margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
   .main-content {
       flex-direction: column;
       align-items: center;
   }

   .scan-options, .receipt-card {
       width: 100%;
   }

}



/* financial records content */
.records-content {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.category-buttons {
   display: flex;
   gap: 10px;
}

.btn {
   padding: 10px 20px;
   font-size: 16px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}

.add-category-btn {
   background-color: #2ECC71;
   color: white;
}

.delete-category-btn {
   background-color: #E74C3C;
   color: white;
}

.record-summary {
   display: flex;
   gap: 10px;
   align-items: center;
}

.summary-btn {
   background-color: white;
   padding: 15px 20px;
   border: 1px solid #ddd;
   border-radius: 5px;
   cursor: pointer;
   text-align: center;
}

.search-bar {
   padding: 10px;
   font-size: 16px;
   border: 1px solid #ddd;
   border-radius: 5px;
}

.data-table {
   background-color: white;
   padding: 20px;
   border-radius: 10px;
   border: 1px solid #ddd;
}

.data-table table {
   width: 100%;
   border-collapse: collapse;
}

.data-table th, .data-table td {
   padding: 10px;
   text-align: left;
   border-bottom: 1px solid #ddd;
}

.data-table th {
   background-color: #f2f2f2;
}

.data-table tbody tr:hover {
   background-color: #f1f1f1;
}

/* Responsive Design */
@media (max-width: 768px) {
   .dashboard {
       margin-left: 0;
   }

   .sidebar {
       width: 100px;
       padding: 10px;
   }

   .sidebar a {
       font-size: 14px;
   }

   .sidebar .brand h2 {
       font-size: 16px;
   }

   .main-content {
       padding: 0;
   }

   .category-buttons, .record-summary, .data-table {
       flex-direction: column;
       align-items: center;
   }

   .summary-btn {
       width: 100%;
       text-align: left;
   }
}



/* generate-report */




.client-dropdown-section {
   padding: 10px 0;
   display: flex;
   align-items: center;
   justify-content: flex-start; /* Align items horizontally */
   gap: 20px; /* Add spacing between dropdowns */
   flex-wrap: wrap;


 }
 
 .dropdown-client-category {
   position: relative; /* Make the dropdown content positioned relative to this container */
 }
 
 .dropdown-client-category .buttons {
   width: 200px;
   cursor: pointer;
   height: 40px;
   border-radius: 5px;
   border: 1px solid #ACACAC;
   font-family: "Outfit", sans-serif;
   font-weight: 300;
   background-color: #fff;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 15px;
   transition: 0.2s ease;
 }
 
 .dropdown-client-category .buttons:hover{
   background-color: #eeeeee;
 }

 .dropdown-content {
   background-color: #fff;
   display: none; /* Hide by default */
   flex-direction: column;
   position: absolute; /* Position relative to parent */
   top: 100%; /* Align just below the button */
   left: 0;
   width: 200px;
   border: 1px solid #ACACAC;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
   z-index: 10; /* Ensure it stays on top of other elements */
   
  
 }
 
 .dropdown-content button {
   width: 100%;
   cursor: pointer;
   height: 40px;
   border: none;
   background: none;
   text-align: left;
   padding: 5px 10px;
 }
 
 .dropdown-content button:hover {
   background-color: #f0f0f0;
 }
 
 .dropdown-content.show{
   display: flex;
   
 }


 .generate-report-content{
   background-color: #fff;
   border-radius: 5px;
   border: 1px solid #DEDEDE;
   height: 720px;
   width: 100%; /* Set fixed width */
   margin-top: 10px;
   overflow: hidden;
}

.generate-report-content .generate-report-header{
   border-bottom: 1px solid var(--border);
   padding: 15px 10px;
   text-align: center;
   font-size: 1rem;
   font-weight: bold;
   color: #434343;
}


.generate-report-content .overall{
   display: var(--flex);
   align-items: center;
}

.overall .client-monthly{
   width: 50%;
   height: 70px;
   display: var(--flex);
   align-items: center;
   justify-content: space-around;
   border-bottom: 1px solid #DEDEDE;

}

.client-monthly span{
  color: rgb(59, 59, 59);
}


.tables-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

}

.tables-container .table{

  width: 50%;

}


table, th, td {
  border-collapse: collapse;
  border: 1px solid rgb(144, 144, 144);
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  padding: 10px;
  border-left:none ;
  border-right:none ;
  border-color: var(--border) ;
}

table {
  border: none;
  width: 100%;
  height: 0px;
}

table thead tr th{
 padding: 8px;
 border:none;
 color: #7a7a7a;
 
}

tbody tr td{
 font-size: 14px;
}

.chart-section {
  margin-top: 20px;
  text-align: center;
}

#salesExpensesChart {
  max-width: 600px;
  margin: 0 auto;
}

/* Dashboard styling */
.dashboard {
   padding: 20px;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.top-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: white;
   padding: 15px;
   border-radius: 10px;
   margin-bottom: 20px;
}

.user-controls {
   display: flex;
   align-items: center;
}

.logout-btn {
   background-color: #E74C3C;
   color: white;
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-right: 10px;
}

.logout-btn:hover {
   background-color: #C0392B;
}

.dropdown {
   display: inline-block;
}

.dropbtn {
   background-color: white;
   color: black;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   cursor: pointer;
}

.subcontainer {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}

.report-card {
   background-color: white;
   padding: 20px;
   width: 48%;
   border-radius: 10px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   text-align: center;
}

.report-card h2 {
   font-size: 18px;
   color: #333;
}

.report-card h3 {
   font-size: 32px;
   color: #1ABC9C;
}

.transaction-container {
   background-color: white;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.transaction-container h2 {
   font-size: 22px;
   color: #333;
   margin-bottom: 20px;
}

.transaction-list {
   list-style: none;
   padding: 0;
   margin: 0;
}

.transaction-list li {
   display: flex;
   justify-content: space-between;
   padding: 10px;
   background-color: #F8F8F8;
   border-radius: 5px;
   margin-bottom: 10px;
   font-size: 16px;
}

.transaction-list li span {
   flex: 1;
   text-align: center;
}

.transaction-list li span.id {
   flex: 0.5;
}

/* Responsive design */
@media (max-width: 768px) {
   .sidebar {
       width: 100px;
   }

   .dashboard {
       margin-left: 100px;
   }

   .sidebar a {
       font-size: 14px;
       padding: 10px;
   }

   .subcontainer {
       flex-direction: column;
   }

   .report-card {
       width: 100%;
       margin-bottom: 20px;
   }

   .transaction-list li span {
       font-size: 14px;
   }
}

.reciept-modal{
   display: none;
   position: fixed;
   z-index: 1000;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
   padding-top: 60px;
}

.modal-content{
   background-color: #fefefe;
   margin: 5% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 100%;
   height: 70%;
   max-width: 800px;
   border-radius: 10px;
   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}


.modal-content h2{
  font-size: 2rem;
}

.modal-content .reciept-container{
   margin-top: 10px;
  height: 90%;
   background-color: #fff;
   border: 1px solid rgb(85, 85, 85);
}

.add-client {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 10px;
 }
 
 .add-client button {
   padding: 10px;
   border: none;
   border-radius: 5px;
   background-color: var(--greenBG);
   color: #fff;
   cursor: pointer;
 }

/* Client Container */
.client-container {
   display: flex;

 }
 
 .clients {
   flex: 1;
   background-color: #fff;
   box-shadow: var(--shadow);

 }
 
 .header-search{
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 1px solid rgb(168, 168, 168);
   padding: 5px 15px;
 }

 .header-search h3 {
   margin-top: 0;
 }
 
 .header-search .search-bar{
   border: none;
 }

 .search-bar input {
   padding: 5px;
   border-radius: 3px;
   border: 1px solid rgb(134, 134, 134);
 }
 
 ol{
   padding: 5px 15px;
 }
 
 ol li a {
   text-decoration: none;
   color: #333;
   display: inline-block;
   padding: 10px 0;
   width: 100%;
   transition: color 0.3s ease, background-color 0.3s ease;
   
 }
 
 ol li a:hover {
   color: var(--greenBG);
   background-color: #f5f5f5;
 }
 
/*
.company-view {
   background-color: #fff;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
 }

  .company-view button {
   margin: 5px 0;
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #ccc;
   cursor: pointer;
 }
 
 .company-view .back-btn {
   background-color: #dc3545;
   color: white;
 }

*/
 
 
.company-view {
 }

 .forms-container{
   display: flex;
   align-items: center;
   gap: 16px;
 }

 .company-buttons{
   background-color: #fff;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
   max-width: 250px;
   width: 30%;
   min-height: 700px;
   display: flex;
   flex-direction: column;
 }

 .client-company{
   text-align: center;
 }

 .client-company > *{
   margin-top: 10px;
 }

 .client-company .back-btn, 
.forms-btns button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 80px;
  background-color: #dc3545;
  color: white;
  transition: transform 0.2s ease, background-color 0.2s ease; /* Smooth scaling */
}

.forms-btns button {
  width: 90%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(108, 108, 108);
}

/* Interactive Scale on Hover */
.client-company .back-btn:hover, 
.forms-btns button:hover {
  transform: scale(1.05); /* Slight increase on hover */
}

/* Click Effect */
.client-company .back-btn:active, 
.forms-btns button:active {
  transform: scale(0.95); /* Slight shrink on click */
}

/* Form container styling */
.forms-btns {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.company-contents{
   background-color: white;
   width: 100%;
   min-height: 700px;
   border-radius: 5px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}