* {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: Arial, sans-serif;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-color: #f0f0f0; 
}

.content {
   background-color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: center;
   min-height: 400px; 
   width: 100%;
   max-width: 500px;
   padding: 20px; 
   border-radius: 8px; 
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

h2 {
   color: black;
   margin-bottom: 20px;
}


form{
   align-items: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 100%;
}

input {
   margin: 10px 0;
   padding: 10px;
   width: 100%;
   max-width: 300px; /* Limit input width */
   border: 1px solid #31B58F;
   border-radius: 4px;
   outline: none;
}

button {
   padding: 10px 20px;
   margin-bottom: 10px;
   background-color: #4CAF50;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   width: 100%;
   max-width: 300px;
}

.back{
   color: white;
   background-color: #BB2727;
   padding: 10px 20px;
   max-width: 300px;
   border: none;
   border-radius: 4px;
}
.back:hover{
   background-color: #d31b1b;
}

button:hover {
   background-color: #45a049;
}

p {
   color: white;
   margin-bottom: 15px;
}
