/* Basic body styling */
body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.navbar h1 {
    font-size: 24px;
    color: #1ABC9C; /* Green color */
    margin-left: 20px;
}

.right-section {
    display: flex;
    align-items: center;
}

.signup-btn {
    background-color: #1ABC9C;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

.signup-btn:hover {
    background-color: #16A085;
}

/* Container styling */
.container {
    width: 350px;
    background-color: white;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.container h2 {
    font-size: 20px;
    color: #555;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 20px;
    text-align: left;
}

.submit {
    background-color: #1ABC9C;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #16A085;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}


/* Responsive design */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .container {
        width: 90%;
    }
}
